
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    padding: 10px 0;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 2.5em;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 20px;
}

.navbar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

.navbar-nav .nav-link {
    color: #fff;
    font-size: 1.1em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: #ffcc00;
    text-decoration: underline;
}
h1 {
    font-size: 2.5em;
    margin: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
    font-size: 1.1em;
}

nav a:hover {
    color: #ffcc00;
}

.contact-section {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.contact-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.contact-section p {
    font-size: 1.2em;
}

.contact-link {
    color: #ffcc00;
    font-weight: bold;
    font-size: 1.3em;
    text-decoration: none;
}

.contact-link:hover {
    color: #333;
    text-decoration: underline;
}
.footer {
    background-color: black;
    text-align: center;
  }
  .footer .designer {
    color: white;
    font-weight: 800;
    font-size: large;
  }
  .footer p {
    color: white;
    font-weight: 800;
    font-size: large;
  }