.footer {
    background-color: black;
    text-align: center;
    .designer {
        color: white;
        font-weight: 800;
        font-size: large;
    }
    p{
        color: white;
        font-weight: 800;
        font-size: large;
    }
}